extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Нотификации';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Нотификации

    //- Демонстрация компонента
    .ui-kit__component-demo
        +notifications("error", "Сообщение об ошибке")
            
    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +notifications("error", "Сообщение об ошибке")

    //- Демонстрация компонента
    .ui-kit__component-demo
        +notifications("info", "Сообщение о действии")
            
    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +notifications("info", "Сообщение о действии")

    //- Демонстрация компонента
    .ui-kit__component-demo
        +notifications("success", "Сообщение об успехе")
            
    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +notifications("success", "Сообщение об успехе")

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Нотификации с контентом

    //- Демонстрация компонента
    .ui-kit__component-demo
        +notifications("error", "Сообщение об ошибке")
            +message
               p Здесь будет текст ошибки. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur in eget turpis sit maecenas in diam scelerisque habitant.
               p Возможно на 2 абзаца. Turpis rhoncus, sed imperdiet sodales suspendisse eget. Viverra tortor id vitae venenatis non cras in maecenas tincidunt. Quam quisque cras faucibus quisque amet.

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +notifications("error", "Сообщение об ошибке")
                +message
                    p Здесь будет текст ошибки. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur in eget turpis sit maecenas in diam scelerisque habitant.
                    p Возможно на 2 абзаца. Turpis rhoncus, sed imperdiet sodales suspendisse eget. Viverra tortor id vitae venenatis non cras in maecenas tincidunt. Quam quisque cras faucibus quisque amet.

    //- Демонстрация компонента
    .ui-kit__component-demo
        +notifications("info", "Сообщение о действии")
            +message
               p Здесь будет текст ошибки. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur in eget turpis sit maecenas in diam scelerisque habitant.
               p Возможно на 2 абзаца. Turpis rhoncus, sed imperdiet sodales suspendisse eget. Viverra tortor id vitae venenatis non cras in maecenas tincidunt. Quam quisque cras faucibus quisque amet.

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +notifications("info", "Сообщение о действии")
                +message
                    p Здесь будет текст ошибки. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur in eget turpis sit maecenas in diam scelerisque habitant.
                    p Возможно на 2 абзаца. Turpis rhoncus, sed imperdiet sodales suspendisse eget. Viverra tortor id vitae venenatis non cras in maecenas tincidunt. Quam quisque cras faucibus quisque amet.

    //- Демонстрация компонента
    .ui-kit__component-demo
        +notifications("success", "Сообщение об успехе")
            +message
               p Здесь будет текст ошибки. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur in eget turpis sit maecenas in diam scelerisque habitant.
               p Возможно на 2 абзаца. Turpis rhoncus, sed imperdiet sodales suspendisse eget. Viverra tortor id vitae venenatis non cras in maecenas tincidunt. Quam quisque cras faucibus quisque amet.

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +notifications("success", "Сообщение об успехе")
                +message
                    p Здесь будет текст ошибки. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur in eget turpis sit maecenas in diam scelerisque habitant.
                    p Возможно на 2 абзаца. Turpis rhoncus, sed imperdiet sodales suspendisse eget. Viverra tortor id vitae venenatis non cras in maecenas tincidunt. Quam quisque cras faucibus quisque amet.

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/notifications.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin notifications(notification, report)
                .notification
                    if (notification == "error" && block)
                        .notification__report.notification__report--error.notification__report--br #{report}
                    else if (notification == "error")
                        .notification__report.notification__report--error #{report}
                    if (notification == "info" && block)
                        .notification__report.notification__report--info.notification__report--br #{report}
                    else if (notification == "info")
                        .notification__report.notification__report--info #{report}
                    if (notification == "success" && block)
                        .notification__report.notification__report--success.notification__report--br #{report}
                    else if (notification == "success")
                        .notification__report.notification__report--success #{report}
                    block

            mixin message()
                .notification__message
                    block
